* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

div {
  word-wrap: break-word;
  line-height: 1.25rem;
}

/* HEADER */
/* HEADER */

#navbar-header {
  margin: 0px;
}

/* Targets the entire naviation bar background at the top */
#header-nav {
  background-color: #0A173D;
  border-radius: 0;
  border: 0;
  padding: 0px;
}

/*** TARGETING THE BRAND/LOGO ***/
.navbar-brand {
  padding: 6px 0 6px 30px;
  margin-right: 15px;
}
.navbar-brand a:hover {
  text-decoration: none;
}
/* Adjust brand name for different screen sizes */
.navbar-brand h1 {
  font-family: Arial;
  color: #fff;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}
/* Decrease the brand name font size & padding for sm screens */
@media (max-width: 349px) {
  .navbar-brand h1 {
    font-size: 1.5em;
    padding-top: 8px;
  }
  .navbar-brand {
    padding-left: 15px;
  }
}
/*** END OF TARGETING THE BRAND/LOGO ***/


/*** TARGETING THE SQUARE NAV MENU ***/
/* Targets the Square nav menu in sm screens */
body .navbar-toggler:hover {
  background-color: #fff;
}
/* Gets rid of blue shadow around nav square menu upon click on sm screens */
#navbar-header .navbar-toggler:focus {
  outline: none;
}
body .navbar-toggler:hover .icon-bar {
	background-color: #0A173D;
}

/* Targets single horizontal bar in Menu box */ 
.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #fff;
}
/* Targets spacing between bars */
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}
/* Targets border around the three lines in nav */
#navbar-header button.navbar-toggler {
  padding: 10px 9px 10px 9px;
  border: 2px solid #fff;
  margin: 0 15px 0 0;
}
/*** END OF TARGETING THE SQUARE NAV MENU ***/


/*** TARGETING THE NAVIGATION MENU EXPANDED ON SM SCREENS AND BUTTONS AT TOP IN LG SCREENS***/
/* Area surrounding the nav buttons (dropdown menu on sm screens & horizontal menu on lg devices) */
#collapsable-nav {
  margin: 0px;
}
/* Fixed location on lg screens (align right) */
@media (min-width:768px){
  #collapsable-nav {
    position: absolute;
    top: -7px;
    right: 25px;
  }
}

/* Adjust the text in the Dropdown menu and nav menu */
#nav-list a {
  text-align: center;
  color: #0A173D;
  font-size: 1.1em;
  padding-bottom: 10px;
}

/* Only XS screen: Modifies the above so baby blue shows up for dropdown box & on hover navy. */
 @media (max-width:767px){
  #collapsable-nav {
    background: #5ADEED;
  }
  /*   navy on hover in dropdown menu */
  #nav-list a:hover, #nav-list a:focus, #nav-list a:active {
  background: #0A173D;
  color: #5ADEED;
  } 
  /* Changes the gap in dropdown menu */
  #nav-list {
    margin-top: 5px;
    margin-bottom: 5px;
  } 
}

/* Similar to previous, but for lg screens */
@media (min-width: 768px) {
   /*  Changes the menu to dark grey on hover */
  #nav-list a:hover {
    background: #fff;
    color: #0A173D;
  }
  /*  Increases margin from top  */
  #nav-list {
  margin-top: 15px;
  margin-bottom: 0px;
  }
  /*  Increase padding between navigation menu buttons  */
  #nav-list a.nav-link {
    padding: 15px 15px 10px 15px;
  }
  /* Changes nav color for larger screen sizes */
  #nav-list a {
  	color: #fff;
  }
}

/*** END OF TARGETING THE NAVIGATION MENU EXPANDED ON SMALL SCREENS AND BUTTONS AT TOP IN LARGE SCREENS***/


/*END OF HEADER*/
/*END OF HEADER*/


/* JUMBOTRON SECTION */
/* JUMBOTRON SECTION */

/*** TARGETING JUMBOTRON BACKGROUND ***/
/* General settings for jumbotron background */

.jumbotron {
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    height: 550px;
    background: url("../img/mountain2.jpg") no-repeat center;
    background-size: 100% auto;
  }

/*** END OF TARGETING JUMBOTRON BACKGROUND ***/

/*** START OF TARGETING MAIN CONTENT (TEXT & BUTTON)  ***/
/* Targeting the "Business" title in the jumbotron section */
#jumbo2 h1#headliner {
  margin: 220px 0 25px 80px;
  padding: 10px;
  color: #fff; 
  background-color: rgb(132, 184, 51, 0.55);  /* lighter green */
  border-radius: 3px;
  font-size: 2.8em;
  text-align: center;
}
@media (min-width: 600px) and (max-width: 849px) {
  .jumbotron {
    height: 400px;
  }
  #jumbo2 h1#headliner {
    margin-top: 170px;
    font-size: 2.4em;
    padding-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .jumbotron {
    height: 340px;
    background-size: cover;
  }
  #jumbo2 h1#headliner {
    margin-top: 135px;
    margin-left: 0px;
    font-size: 2em;
  }
}
/* Centers H1 text */
.headline-container {
  margin: 0px auto;
}

/* END OF JUMBOTRON SECTION */
/* END OF JUMBOTRON SECTION */


/* START OF PROJECTS SECTION */
/* START OF PROJECTS SECTION */

/* Entire background for the Projects section */
#projects-box {
  margin: 0px;
  padding: 110px 5% 10px 5%;
  background: #e2dede;
  background: #fff;
}

/*
  background: #5ADEED;  BABY BLUE OPTION
  background: #0A173D;  NAVY BLUE OPTION
  background: #84B833;  LIGHTER GREEN OPTION
  background: #439923;  DARKER GREEN OPTION 
  background: #fff;     WHITE OPTION
*/

#projects-box .heading {
  padding-bottom: 40px;
  margin: 0px;
  color: #439923; /* darker green */
}

#projects-box .container {
  padding-bottom: 30px;
}

/*Targets card titles*/
#projects-box .card-title {
  background: #0A173D; /* navy */
  color: #fff;
  margin: 0px;
  border-radius: 0 0 3px 3px;
}

#projects-box .card-title h2 {
  margin: 0px;
}

/* Target image size */
#projects-box .card img {
  height: 350px;
  object-fit: cover;
}

#projects-box .card :hover {
  cursor: pointer;
  opacity: 0.6;
}

/* Targets the bottom 3 boxes*/
@media (min-width: 1101px) and (max-width: 1200px) {
  #projects-box #box3 img, #projects-box #box4 img, #projects-box  #box5 img {
    height: 300px;
  }
}
@media (max-width: 1100px) {
  #projects-box .card img {
    height: 275px;
  }
}
/* Targets the bottom 3 boxes*/
@media (min-width: 768px) and (max-width: 950px) {
  #projects-box #box3 img, #projects-box #box4 img, #projects-box  #box5 img {
    height: 215px;
  }
}

/* END OF PROJECTS SECTION */
/* END OF PROJECTS SECTION */


/* START OF FOOTER SECTION */
/* START OF FOOTER SECTION */

.panel-footer-fixed {
  background: #fff;     /*WHITE OPTION*/
  color: #439923;  /*DARKER GREEN OPTION*/ 
}

#copy {
  padding: 0px 10px 5px 10px;
}

@media (max-width: 415px) {
  #copy {
    padding-bottom: 90px;
  }
}

#cta {
  color: #0A173D; /* navy */
  background-color: yellow;
}

/* END OF FOOTER SECTION */
/* END OF FOOTER SECTION */


/* START OF CHAT WINDOW SECTION */
/* START OF CHAT WINDOW SECTION */

#view-change-button {
  display: inline-block;
  position: fixed;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: red;
  background: blue;
  bottom: 56px;
  right: 56px;
  line-height: 3.125rem;
  vertical-align: middle;
  z-index: 1;
}

#view-change-button img {
  display: block;
  margin: 0 auto;
  /*Calc req'd: 74px - 50px /2 = 12px/75 = 15% */
  margin-top: 16%;
}

#view-change-button .full {
  display: block;
}

#contentParent {
  height: 100%;
  background-color: lightblue;
}

.responsive-columns-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-display: flex;
  -ms-flex-direction: row;
}

.responsive-column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
}

#chat-column-holder {
  text-align: center;
}

.chat-column {
  position: fixed;
  display: none;
  bottom: 30px;
  right: 30px;
  height: 400px;
  padding: 0 0 10px 0;
  margin: auto;
  text-align: left;
  width: 320px;
  background-color: #fff;
  border: 1px blue solid;
}

#scrollingChat {
  margin: 0.75rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 114px);
}

/* Start of chat window header */
#chat-header {
  height: 50px;
  background: red;
  background: blue;
}

#chat-header h5 {
  color: #fff;
  padding: 12px 0 0 15px;
}

#minimize-bar {
  width: 32px;
  height: 24px;
  padding: 10px 5px;
  cursor: pointer;
  background: #d2cdcd;
  background: #fff;
  background-clip: content-box;
  position: absolute;
  top: 12.5px;
  right: 10px;
}

#minimize-bar:hover {
  background: #fff;
  background: #0A173D;
  background-clip: content-box;
}

/* End of chat window header */

.message-inner {
  opacity: 0;
  margin-top: 0.9375rem;
  -webkit-transition-property: opacity, margin-top;
  -webkit-transition-duration: 0.75s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-property: opacity, margin-top;
  -moz-transition-duration: 0.75s;
  -moz-transition-timing-function: ease-in;
  -o-transition-property: opacity, margin-top;
  -o-transition-duration: 0.75s;
  -o-transition-timing-function: ease-in;
  -ms-transition-property: opacity, margin-top;
  -ms-transition-duration: 0.75s;
  -ms-transition-timing-function: ease-in;
  transition-property: opacity, margin-top;
  transition-duration: 0.75s;
  transition-timing-function: ease-in;
}

.load .message-inner {
  opacity: 1;
  margin-top: 0.3125rem;
}

.from-user {
  text-align: right;
}

.from-user .message-inner {
  position: relative;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  background: #00B4A0;
  border-radius: 1.25rem;
  border-bottom-right-radius: 0;
  text-align: left;
  display: inline-block;
  margin-left: 2.5rem;
  min-width: 2.5rem;
}

.from-user .message-inner p {
  margin: 0.3125rem;
  padding: 0 0.9375rem;
}

.from-user .message-inner:before, .from-user .message-inner:after {
  content: "";
  position: absolute;
}


.from-user .message-inner:before {
  z-index: -2;
  bottom: -0.375rem;
  right: 0;
  height: 0.375rem;
  width: 0.5rem;
  background: #1cb3a0;
}

.from-user .message-inner:after {
  z-index: -1;
  bottom: -0.5rem;
  right: 0;
  height: 0.5rem;
  width: 0.5rem;
  background: #fff;
  border-top-right-radius: 1.25rem;
}

.from-watson, 
.message-inner {
  position: relative;
  border-radius: 1.5625rem;
  font-size: 1rem;
  color: #B5B5B5;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
}

.from-watson.latest .message-inner {
  color: #323232;
}

.from-watson p {
  margin: 0.3125rem;
  padding: 0 1.25rem;
}

.from-watson.latest.top p:before {
  content: ".";
  color: #9855D4;
  background-image: url("../img/marker_image.png");
  background-size: 0.3125rem 1.3125rem;
  position: absolute;
  z-index: 2;
  left: 0.4375rem;
  width: 0.3125rem;
  height: 1.3125rem;
  line-height: 1.3125rem;
}

#textInput {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #323232;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  height: 2.5rem;
  max-width: 100%;
  padding-left: 0.125rem;
  margin-bottom: -0.125rem;
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;

}

#textInput.underline {
  border-bottom: 2px solid #00B4A0;
}

::-webkit-input-placeholder {
  color: #B5B5B5;
}

::-moz-placeholder {
  color: #B5B5B5;
  opacity:  1;
}

input:-moz-placeholder {
  color: #B5B5B5;
  opacity:  1;
}

:-ms-input-placeholder {
  color: #B5B5B5;
}

::-ms-clear {
  display: none;
}

.inputOutline {
  display: block;
  border-bottom: 0.0625rem solid #aeaeae;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#textInputDummy {
  position:absolute;
  white-space:pre;
  top: 0;
  left: -1000%;
  opacity: 0;
}

#payload-column {
  font-family: Monaco, monospace;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1.125rem;
  background-color: #23292A;
  color: #fff;
  overflow-x: auto;
  display: none;
}

#payload-column.full {
  width: 100%;
  max-width: none;
  min-width: initial;
}

#payload-column .header-text, #payload-column #payload-initial-message {
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  color: #9E9E9E;
  letter-spacing: 0.01875rem;
  padding: 0.5rem;
  padding-left: 2.5rem;
  background: #383D3E;
}

.hide {
  display: none;
}

.payload .line-numbers, .payload .payload-text {
  padding: 0.5rem;
}

.line-numbers {
  width: 2rem;
  color: #898989;
  text-align: right;
}

pre {
  margin: 0;
  word-wrap: normal;
}

.string {
  color: #54EED0;
}

.boolean, .null, .number {
  color: #CE8EFF;
}

.key {
  color: #66B7FF;
}

html{
  font-size: 16px;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  #payload-column {
    width: 0;
    max-width: none;
    min-width: initial;
  }
}

/* Reduce chat window height on mobile phones for larger screen sizes*/
/*Or when most phones are in portrait mode*/
@media (max-width: 415px), (max-height: 415px) {
  .chat-column {
    width: 100%;
    height: 82%;
    position: fixed;
    top: 0px;
    bottom: unset;
    right: unset;
    border: unset;
    border-bottom: 1px blue solid;
  }
  #view-change-button {
    width: 55px;
    height: 55px;
    bottom: 22px;
    right: 22px;
  }
  #view-change-button img {
  width: 70%;
  height: 70%;
  /*Calc req'd: 55px - (50*0.7) /2 = 10px/55 = 15% */
  margin-top: 15%;
}
}

/*For most normal sized phones, makes chat window full screen*/
@media (max-height: 675px) and (max-width: 415px) {
  .chat-column {
    height: 100%;
    top: 0px;
    left: 0px;
    border: unset;
  }
  #view-change-button {
    width: 50px;
    height: 50px;
    bottom: 24px;
    right: 24px;
  }
  #view-change-button img {
  width: 70%;
  height: 70%;
  /*Calc req'd: 55px- (50*0.7) /2 = 7.5px/50 = 15% */
  margin-top: 15%;
}
}

/* IBM Design fonts https://github.ibm.com/Design/fonts */
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/light/h-n-light.eot?') format('eot'),
  url('../fonts/light/h-n-light.woff2') format('woff2'),
  url('../fonts/light/h-n-light.woff') format('woff'),
  url('../fonts/light/h-n-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/light-italic/h-n-light-italic.eot?') format('eot'),
  url('../fonts/light-italic/h-n-light-italic.woff2') format('woff2'),
  url('../fonts/light-italic/h-n-light-italic.woff') format('woff'),
  url('../fonts/light-italic/h-n-light-italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/roman/h-n-roman.eot?') format('eot'),
  url('../fonts/roman/h-n-roman.woff2') format('woff2'),
  url('../fonts/roman/h-n-roman.woff') format('woff'),
  url('../fonts/roman/h-n-roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/roman-italic/h-n-roman-italic.eot?') format('eot'),
  url('../fonts/roman-italic/h-n-roman-italic.woff2') format('woff2'),
  url('../fonts/roman-italic/h-n-roman-italic.woff') format('woff'),
  url('../fonts/roman-italic/h-n-roman-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/medium/h-n-medium.eot?') format('eot'),
  url('../fonts/medium/h-n-medium.woff2') format('woff2'),
  url('../fonts/medium/h-n-medium.woff') format('woff'),
  url('../fonts/medium/h-n-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/medium-italic/h-n-medium-italic.eot?') format('eot'),
  url('../fonts/medium-italic/h-n-medium-italic.woff2') format('woff2'),
  url('../fonts/medium-italic/h-n-medium-italic.woff') format('woff'),
  url('../fonts/medium-italic/h-n-medium-italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/bold/h-n-bold.eot?') format('eot'),
  url('../fonts/bold/h-n-bold.woff2') format('woff2'),
  url('../fonts/bold/h-n-bold.woff') format('woff'),
  url('../fonts/bold/h-n-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/bold-italic/h-n-bold-italic.eot?') format('eot'),
  url('../fonts/bold-italic/h-n-bold-italic.woff2') format('woff2'),
  url('../fonts/bold-italic/h-n-bold-italic.woff') format('woff'),
  url('../fonts/bold-italic/h-n-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* IBM Icons */
@font-face {
  font-family: 'ibm-icons';
  src:url('../fonts/ibm-icons.eot?ytcz1z') format('eot'),
  url('../fonts/ibm-icons.eot?ytcz1z#iefix') format('embedded-opentype'),
  url('../fonts/ibm-icons.ttf?ytcz1z') format('truetype'),
  url('../fonts/ibm-icons.woff?ytcz1z') format('woff'),
  url('../fonts/ibm-icons.svg?ytcz1z#ibm-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* IBM glyphs */
@font-face {
  font-family: 'ibm-glyph';
  src:url('../fonts/ibm-glyphs.eot?1b8643') format('eot'),
  url('../fonts/ibm-glyphs.eot?1b8643#iefix') format('embedded-opentype'),
  url('../fonts/ibm-glyphs.ttf?1b8643') format('truetype'),
  url('../fonts/ibm-glyphs.woff?1b8643') format('woff'),
  url('../fonts/ibm-glyphs.svg?1b8643#ibm-glyph') format('svg');
  font-weight: normal;
  font-style: normal;
}
